@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = Resources.General_ErrorTitle;
}

<h1 class="text-danger">Error.</h1>
@{
    if (String.IsNullOrEmpty(ViewBag.errorMessage))
    {
        <h2 class="text-danger">@Resources.General_ErrorMessage</h2>
    }
    else
    {
        <h2 class="text-danger">@ViewBag.errorMessage</h2>
    }
}