@{
    ViewBag.Title = Resources.Account_ConfirmEmail;
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        @Resources.Account_ThankYouForConfirmEmail. @Html.ActionLink(Resources.Account_ClickHereToLogin, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }).
    </p>
</div>
