@{
    ViewBag.Title = Resources.Account_ForgotPasswordConfirmation;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        @Resources.Account_CheckEmailToResetPassword
    </p>
</div>
	
